<table>
  <tr>
    <th>Day</th>
    <th>High</th>
    <th>Low</th>
  </tr>
  <% @tides.current_week.each do |tide| %>
  <tr>
    <td><%= tide.convert_day %></td>
    <% if tide.low? %>
    <td><%= tide.convert_time %>, <%= tide.predictions_in_ft %> ft</td>
    <% end %>
    <% if tide.high? %>
    <td><%= tide.convert_time %>, <%= tide.predictions_in_ft %></td>
  <% end %>
  </tr>
    <% end %>
</table>
