<%= render 'profile_nav' %>

  <div class="tab-body">
    <div class="tab-container">
      <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1">Activities</li>
        <li class="tab-link" data-tab="tab-2">Buddies</li>
        <li class="tab-link" data-tab="tab-3">Messages</li>
        <li class="tab-link" data-tab="tab-4">Events</li>
        <% if @user.run_pref == "beach" %>
        <li class="tab-link" data-tab="tab-5">Tides</li>
        <% end %>
      </ul>

      <div id="tab-1" class="tab-content current">
        <% if @user.runs.empty? %>
          <span>You haven't logged any runs yet!</span>
        <% else %>
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Title</th>
              <th>Location</th>
              <th>Miles</th>
            </tr>
          </thead>

          <tbody>
            <% @user.runs.each do |run| %>
              <tr>
                <td><%= run.convert_date_abbr %> <%= run.convert_time %></td>
                <td><%= run.title %></td>
                <td><%= run.location %></td>
                <td><%= run.miles %></td>
                <td class="italic"><%= link_to edit_run_path(run) do %><i class="fa fa-pencil-square-o" aria-hidden="true"></i><% end %>|<%= button_to run_path(run), method: :delete do %><i class="fa fa-trash-o" aria-hidden="true"></i><% end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      </div>

      <div id="tab-2" class="tab-content">
        <% if @user.find_buddies.empty? %>
          <span>You don't have any buddies yet!</span>
        <% else %>
          <% @user.find_buddies.each do |buddy| %>
            <span><%= buddy.user_name %> is available in the <%= buddy.availability %> for <%= buddy.run_pref %> runs!</span><br>
            <span class="inline italic"><%= buddy.city %></span> |
            <span class="inline italic"><%= buddy.gender.capitalize %></span> |
            <span class="inline italic"><%= buddy.age %> yrs old</span> |
            <span class="inline italic"><%= buddy.pace %>:00 min/mi</span> | 
            <span class="inline italic"><%= link_to new_user_message_path(buddy.id) do %><i class="fa fa-envelope" aria-hidden="true"></i><% end %></span>
           <br><br>
          <% end %>
        <% end %>
      </div>

      <div id="tab-3" class="tab-content">
        <% if @user.received_messages.empty? %>
          <span>You don't have any messages yet!</span>
        <% else %>
          <% @user.received_messages.each do |message| %>
            <span class="bold"><%= message.title %></span><br>
            <%= render 'messages/show', message: message %>
          <% end %>
        <% end %>
      </div>

      <div id="tab-4" class="tab-content">
        <%= month_calendar events: @events do |date, events| %>
          <%= date.strftime('%d') %><br>
          <% events.each do |event| %>
          <% if @user_events.map(&:event_id).include? event.id %>
            <div class="calendar"><%= event.name %><br></div>
          <% end %>
          <% end %>
        <% end %>
      </div>

      <div id="tab-5" class="tab-content">
        <% if @user.run_pref == "beach" %>
         <%= render 'tides' %>
        <% end %>
      </div>
    </div>
  </div>
