<nav class="brand">
  <ul>
    <li id="greeting">Hi, <%= current_user.first_name %></li>
    <li class="nav"><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
    <li class="nav"><%= link_to('Home', runs_path) %></li>
  </ul>
</nav>

  <div class="tab-body">
    <div class="tab-container">
      <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1">My Activities</li>
        <li class="tab-link" data-tab="tab-2">My Buddies</li>
        <li class="tab-link" data-tab="tab-3">My Messages</li>
        <% if @user.run_pref == "beach" %>
        <li class="tab-link" data-tab="tab-4">Check the Tides</li>
        <% end %>
      </ul>

      <div id="tab-1" class="tab-content current">
        <% if @user.runs.empty? %>
          <p>You haven't logged any runs yet!</p>
        <% else %>
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Title</th>
              <th>Location</th>
              <th>Miles</th>
            </tr>
          </thead>

          <tbody>
            <% @user.runs.each do |run| %>
              <tr>
                <td><%= run.convert_date %></td>
                <td><%= run.title %></td>
                <td><%= run.location %></td>
                <td><%= run.miles %></td>
                <td><%= link_to 'Show', run %> | <%= link_to 'Edit', edit_run_path(run) %> | <%= link_to 'Destroy', run, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      </div>

      <div id="tab-2" class="tab-content">
        <% if @user.find_buddies.empty? %>
          <p>You don't have any buddies yet!</p>
        <% else %>
          <% @user.find_buddies.each do |buddy| %>
            <span><%= buddy.first_name %> is available in the <%= buddy.availability %> for <%= buddy.run_pref %> runs!</span><br>
            <span class="inline italic"><%= buddy.user_name %></span> |
            <span class="inline italic"><%= buddy.city %></span> |
            <span class="inline italic"><%= buddy.gender.capitalize %></span> |
            <span class="inline italic"><%= buddy.age %> yrs old</span> |
            <span class="inline italic"><%= buddy.pace %>:00 min/mile</span> |
            <span class="inline italic"><%= link_to "Send Message", new_user_message_path(buddy.id) %></span>
           <br><br>
          <% end %>
        <% end %>
      </div>

      <div id="tab-3" class="tab-content">
        <% if @user.received_messages.empty? %>
          <p>You don't have any messages yet!</p>
        <% else %>
          <% @user.received_messages.each do |message| %>
            <span class="inline italic"><%= message.title %></span> |
            <span class="inline italic"><%= message.content %></span> |
            <span class="inline italic"><%= message.sender.user_name %></span> |
            <span class="inline italic"><%= message.message_time %></span> |
            <span class="inline italic"><%= link_to "Reply", new_user_message_path(message.sender_id) %></span>
          <% end %>
        <% end %>
      </div>

      <div id="tab-4" class="tab-content">
        <% if @user.run_pref == "beach" %>
         <%= render 'tides' %>
        <% end %>
      </div>
    </div>
  </div>
