<nav class="brand">
  <ul>
    <li id="greeting">Hi, <%= current_user.first_name %></li>
    <li class="nav"><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
    <li class="nav"><%= link_to('Profile', profile_path(current_user)) %></li>
  </ul>
</nav>

  <div class="container">
    <% @runs.each do |run| %>
      <div class="run-index">
        <h3><%= run.title %></h3>
        <span class="italic"><%= run.user.user_name %></span> |
        <span class="italic"><%= run.comments.count %> comments</span  >
        <span class="italic"><%= link_to new_run_comment_path(run) do %><i class="fa fa-comments" aria-hidden="true"></i><% end %></span> |
        <span class="italic"><%= run.kudos.count %> kudos</span>
        <span class="italic"><%= link_to run_kudos_path(run), method: :post do %><i class="fa fa-thumbs-up" aria-hidden="true"></i><% end %></span>
      </div>
    <% end %>
    <%= will_paginate @runs %>
  </div>