<p id="notice"><%= notice %></p>

<div class="left-align">
  <h1>Activity Feed</h1>

  <div class="container">
    <% @runs.each do |run| %>
    <div class="run-index">
      <h3><%= run.title %></h3>
      <span class="italic"><%= run.user.user_name %></span> |
      <span class="italic"><%= run.comments.count %> comments</span>
      <span class="italic"><%= link_to('Comment', new_run_comment_path(run) ) %></span> |
      <span class="italic"><%= run.kudos.count %> kudos</span>
      <span class="italic"><%= link_to('Kudos', run_kudos_path(run), method: :post ) %></span>
    </div>
    <% end %>
  </div>
</div>

<div class="right-align">
  <h1>Upcoming Events</h1>

  <%= month_calendar do |date| %>
    <%= date.strftime("%d") %>
  <% end %>

  <div class="tab-body">
    <div class="tab-container">
      <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1">Social Runs</li>
        <li class="tab-link" data-tab="tab-2">Local Races</li>
      </ul>

      <div id="tab-1" class="tab-content current">
        <h3>Pannikin Run</h3>
        <p>Date: Sept 30, 2016</p>
        <p>Time: 10am</p>
        <p>Location: Leucadia, CA</p>
        <p>Host: bosha</p>
        <span class="italic">Add a comment</span> |
        <span class="italic">Message the host</span> |
        <span class="italic">Sign up</span>
      </div>

      <div id="tab-2" class="tab-content">
        <h3>Turkey Trot</h3>
        <p>Date: Sept 30, 2016</p>
        <p>Time: 10am</p>
        <p>Location: Encinitas, CA</p>
        <span class="italic">Sign up</span>
      </div>

    </div>
  </div>
</div>
