<%= render 'home_nav' %>

<div class="container">
    <% @runs.each do |run| %>
      <div class="run-index">
        <div class="run-top">
          <span class="left bold"><%= run.title %></span>
          <span class="right italic"><%= run.user.user_name %></span><br>
        </div>
        <span class="inline italic"><span class="comments"><%= run.comments.count %></span> comments</span>
        <span class="inline italic new-comment"><%= link_to new_run_comment_path(run) do %><i class="fa fa-comments" aria-hidden="true"></i><% end %></span> |
        <span class="inline italic"><span class="kudos"><%= run.kudos.count %></span> kudos</span>
        <span class="inline italic"><%= button_to run_kudos_path(run) do %><i class="fa fa-thumbs-up" aria-hidden="true"></i><% end %></span>
      </div>
    <% end %>
    <%= will_paginate @runs %>
</div>